@() @main("In Time") {
<section class="container">
	<div class="one border">
		<h2>Firma</h2>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#firmaAnmelden">Anmelden</a></li>
			<li><a data-toggle="tab" href="#firmaRegistrieren">Registrieren</a></li>
		</ul>

		<div class="tab-content">
			<div id="firmaAnmelden" class="tab-pane fade in active">
				<form>
					<div class="input-group">
						<input id="firmaId" type="text" class="form-control"
							name="FirmaId" placeholder="Firma ID"> <input id="email"
							type="text" class="form-control" name="email" placeholder="Email">
						<input id="password" type="password" class="form-control"
							name="password" placeholder="Passwort">
						<button type="button" class="btn btn-default ">anmelden</button>
					</div>
				</form>
			</div>
			<div id="firmaRegistrieren" class="tab-pane fade">
				<form>
					<div class="input-group">
						<input id="firmaName" type="text" class="form-control"
							name="FirmaName" placeholder="Name der Firma"> <input
							id="emailr" type="text" class="form-control" name="emailr"
							placeholder="Email"> <input id="passwordr"
							type="password" class="form-control" name="passwordr"
							placeholder="Passwort"> <input id="passwordrw"
							type="password" class="form-control" name="passwordrw"
							placeholder="Passwort wiederholen">
						<button type="button" class="btn btn-default">registrieren</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="two border">
		<h2>Mitarbeiter</h2>


	</div>
</section>

}
